body, html {
	margin: 0;
	padding: 0;
}

p {
	color: #4D4D4D;
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: lighter;
	font-size: 15px;
	line-height: 1.5em;
}

p a {
	font-weight: bold;
	text-decoration: none;
	color: #4D4D4D;
}

p a:hover {
	color: #F05759;
}

p a:active {
	color: #777;
}

hr {
	color: #142E42;
}

h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	font-weight: bold;
	clear: both;
	padding: 20px 0 12px 0;
	margin: 0;
	color: #142E42;
}

h1 a {
	color: #142E42;
	text-decoration: none;
}

h1 a:hover {
	color: #777;
}

h1 a:active {
	color: #F05759;
}

h2, h2 a {
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
	font-weight: bold;
	clear: both;
	color: #4D4D4D;
	margin-top: 20px;
}

h2 a:hover {
	color: #F05759;
}

h2 a:active {
	color: #142E42;
}

h3, h3 a {
	color: #4D4D4D;
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: lighter;
	font-size: 18px;
	line-height: 1.5em;
}

h3 a:hover {
	color: #F05759;
}

h3 a:active {
	color: #142E42;
}

h4, h4 a {
	color: #4D4D4D;
	font-family: 'Libre Baskerville', Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0;
}

h4 a:hover {
	color: #F05759;
}

h4 a:active {
	color: #142E42;
}

.scrollToTop {
	width:100px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:30px;
	right:40px;
	display:none;
	background: url('arrow_up.png') no-repeat 0px 20px;
}

.scrollToTop:hover {
	text-decoration:none;
}

.content {
	padding: 0 30px;
	max-width: 800px;
	margin: 0 auto;
}

.contact-ul li {
	color: #4D4D4D;
	font-weight: lighter;
}

.sitemap-ul li, .sitemap-ul ul li {
	padding-bottom: 8px;
}

.sitemap-ul li a, .sitemap-ul ul li a {
	color: #4D4D4D;
	text-decoration: none;
}

.sitemap-ul li a:hover, .sitemap-ul ul li a:hover {
	color: #F05759;
}

.sitemap-ul li a:active, .sitemap-ul ul li a:active {
	color: #142E42;
}

.sitemap-ul ul li {
	list-style-type: none;
}

.bottom-space {
	margin-bottom: 40px;
}

.pagination .active {
	color: #F05759;
}

#welcome-msg {
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	width: 86%;
	margin: 0 30px 30px 30px;
	padding-top: 28px;
	font-size: 30px;
	line-height: 1.2em;
	letter-spacing: 1.1px;
}

.review-paragraphs {
	margin: 30px 0;
}

.star-form {
	width: 330px;
}

.star-form .starrr {
	display: block;
}

.light {
	font-weight: lighter;
}

.smaller {
	font-size: 80%;
}

.error {
	color: #DD2414;
}

.ubuntu {
	font-family: 'Ubuntu', Arial, sans-serif;
}

.errors {
	padding: 20px 40px;
	background-color: #FFA7A2;
	border: 1px solid #DD2414;
	color: #DD2414;
	font-family: 'Ubuntu', Arial, sans-serif;
	font-size: 15px;
	margin-bottom: 40px;
}

.about-img {
	float: left;
	margin: 20px 30px 30px 0;
}

.b {
	font-weight: bold;
}

.pink a, .pink {
	color: #F05759;
	text-decoration: none;
}

.pink a:hover {
	color: #777;
}

.pink a:active {
	color: #eee;
}

.search {
	margin: 5px 0 20px 0;
}

.search input {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: lighter;
	letter-spacing: 1.3px;
	padding: 20px;
	font-size: 16px;
	margin: 0;
	width: 400px;
}

.twitter-feed {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.twitter-connect {
	padding: 20px;
	background-color: #DAF2FF;
}

.contact-twitter-feed {
	margin: 15px 0 80px 0;
}

.checkbox-label {
    display: block;
    position: relative;
    top: -20px;
    left: 20px;
}

.checkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    border: none;
}

.checkbox-div {
	margin-bottom: 0px;
}

label a {
	color: #4D4D4D;
	text-decoration: none;
	font-weight: bold;
}

label a:hover {
	color: #F05759;
}

label a:active {
	color: #142E42;
}

label, #wr-form a {
	color: #4D4D4D;
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

form input {
	width: 300px;
	border: none;
	background-color: #eee;
	padding: 15px;
}

form textarea {
	width: 300px;
	border: none;
	background-color: #eee;
	padding: 15px;
}

form input, form textarea {
	display: block;
	margin-bottom: 20px;
}

form {
	margin: 30px 0 30px 0;
	display: inline-block;
}

.success-msg, .fail-msg {
	max-width: 800px;
	margin: 0 auto;
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: lighter;
}

.success-msg button, .fail-msg button {
	border: none;
	color: #999;
	font-size: 110%;
	position: relative;
	float: right;
}

.success-msg button {
	background-color: #DFFFE6;
}

.success-msg p, .fail-msg p {
	padding: 12px 15px;
}

.success-msg {
	background-color: #DFFFE6;
}

.success-msg p {
	color: #057F2D;
}

.show-delete {
	float: left !important;
	margin-bottom: 30px;
	padding: 30px 0;
}

.item-delete {
	float: right;
}

.item-delete form {
	margin: 0;
	padding: 0;
}

.item-delete form input {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #4D4D4D;
	font-family: 'Libre Baskerville', Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	width: 55px;
}

.hide {
    display: none;
}

.item-delete a:hover {
	color: #F05759;
}

.show-delete form input {
	text-decoration: underline;
}

input[type='number'] {
	background-color: #fff;
	width: 20px;
}

.item-delete form input:hover {
	color: #F05759;
	cursor: pointer;
}

.delete-list-item {
	margin-right: 8px;
}

.item-list {
	padding-left: 0;
	list-style: none;
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: lighter;
}

.item-list li a {
	color: #4D4D4D;
	text-decoration: none;
}

.item-list li a:active {
	color: #142E42;
}

.item-list li a:hover {
	color: #F05759;
}

.individual-review {
	margin-top: 30px;
	border: 1px solid #142E42;
	border-radius: 15px;
	padding: 15px 40px 15px 40px;
}

form div {
	margin-bottom: 10px;
}

form button {
	border: none;
	width: 335px;
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: lighter;
	font-size: 15px;
	background-color: #4D4D4D;
	color: #eee;
	letter-spacing: 3px;
	padding: 15px;

}

#wr-form div input[type='submit'] {
	width: 335px;
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: lighter;
	font-size: 15px;
	background-color: #4D4D4D;
	color: #eee;
	letter-spacing: 3px;
}

#wr-form div input, #wr-form div textarea, #wr-form div select {
	margin-bottom: 20px;
}

#wr-form div input[type='checkbox'] {
	color: #4D4D4D;
}

.rating-ul {
	list-style-type: none;
	padding-left: 0;
	font-family: 'Ubuntu', Arial, sans-serif;
}

#login-name {
	right: 0px;
	position: absolute;
	padding: 8px 22px 12px 22px;
	background-color: #F05759;
	z-index: 10;
}

#login-name a {
	color: #142E42;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1.2px;
	font-size: 17px;
}

#login-name p {
	margin: 0;
}

#login-name a:hover {
	color: #fff;
}

.pagination {
	padding-left: 0;
	margin-bottom: 20px;
}

.pagination li {
	display: inline-block;
	padding: 10px;
}

.pagination li a {

	text-decoration: none;
	color: #142E42;
}

.pagination li a:hover {
	color: #F05759;
}

.pagination li a:active {
	color: #4D4D4D;
}

.review {
	border: 3px solid #142E42;
	border-radius: 12px;
	padding: 10px 30px 20px 30px;
	margin: 30px 0;
}

.review h3 {
	margin: 0;
	font-size: 16px;
	font-weight: lighter;
}

.school-show {
	padding-left: 0px;
	margin-bottom: 30px;
}

.school-show li:first-child {
	font-size: 18px;
	font-weight: bold;
}

.school-show li {
	padding: 5px 0;
	font-family: 'Ubuntu';
	font-weight: lighter;
	list-style: none;
}

footer {
	background-color: #fff;
    bottom: 0;
    font-size: 12px;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
}

footer ul {
	margin-top: 3px;
}

footer ul li {
	display: inline-block;
	float: right;
	text-align: left;
	margin-right: 5%;
}

footer ul li:first-child {
    float: left;
    margin: 0;
    padding-right: 0;
}

footer a {
	color: #142E42;
	text-decoration: none;
	font-family: 'Ubuntu', Arial, sans-serif;
}

footer a:hover {
	color: #F05759;
}

footer a:active {
	color: #777;
}


@media all and (min-width: 880px) {

	.twitter-feed {
		margin: 40px 0;
		width: 46%;
		position: absolute;
		right: 0px;
	}

	#welcome-msg {
		width: 360px;
		font-size: 40px;
	}

	#wr-form div label {
		float: left;
		text-align: right; 
		width: 200px;
		margin-right: 20px;
	}

	#wr-form div input[type='checkbox'] {
		border: none;
		background-color: #eee;
	}

	#wr-form div input, #wr-form div textarea, #wr-form div select {
		margin-bottom: 20px;
	}

	#wr-form a {
		text-decoration: underline;
	}

	.content {
		padding: 0;
		margin-bottom: 60px;
	}	

	.half {
		width: 46%;
		padding-right: 30px;
		float: left;
	}

}